header{
    background-color: azure;
    padding: 40px;
}

header h1{
    color: rgb(102, 2, 102);
}


main{
    margin: 30px;
    background-color: #F7F7DF;
}

main img{
    height: 320px;
    border: black solid 2px;
}

/* main p{
    margin-bottom: 30px;
} */

h1{
    font-size: 16pt;
    font-weight: bold;
}


footer{
    background-color: azure;
    align-items: center;
    color: rgb(102, 2, 102);
    font-size: 12pt;
    text-align: center;
    padding: 20px;
}